#movie-info {
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

#movie-poster {
  flex: 0;
  width: 40%;
  transition: .2s;
}

#movie-poster:hover {
  transform: scale(1.2);
}

#movie-information {
  flex: 1;
}
